:root {
	--main-color-1: #eb9ac0;
	--main-color-2: #f3aacb;
	--main-color-3: #f7bfd8;
	--main-color-4: #fbd5e5;
	--main-color-5: #fdeaf2;
	--main-white: white;
	--main-black: black;
}

/* Development */

body {
	background-image: url(https://i.ibb.co/qJ8YCzp/image.png);
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
}
