:root {
	--main-color-1: #eb9ac0;
	--main-color-2: #f3aacb;
	--main-color-3: #f7bfd8;
	--main-color-4: #fbd5e5;
	--main-color-5: #fdeaf2;
	--main-white: white;
	--main-black: black;
}

/* Development */

body {
	background-image: url(https://i.ibb.co/qJ8YCzp/image.png);
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Styling */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 1920px;
	height: 1080px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

/* fonts */

.poppins-medium {
	font-family: "Poppins", serif;
	font-weight: 500;
	font-style: normal;
}

.frame {
	width: 490px;
	height: 290px;
}
